CRX_PUBLIC_KEY=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA5WGbFgzb0L8ScjxU+8oQl8aUEdbJ2yIR/5y+vgOb2ka3nOdNT6ZePB720gkn63Zz8+ORs9dEucxald4Q2BYFM3tI2THEuRPoOo2WzfE7G4trvjbF6o7Gh097mTWo4uRm59/lH65B8TFSWdcgnixi8XYJJ+0AaYQOkSel6rv36XJCYFlmQFsu55eZGenMoV+ySx6e1TqvxsbFbESquVVr+FdZQFK4cyVAYwIM0MmgxE2K0X6YQGFInnTGBPrYMBMHXYDbAt/lLYWlUjd1FWl3RSkoInpI5QnH7lJfQmNgRyqoM1aLR9zOx54to2byLKRTS7lqg3PDU0bPTaWEFjYYLQIDAQAB
