PLASMO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_live or pk_test clerk key
CLERK_FRONTEND_API= Clerk frontend URL
PLASMO_PUBLIC_CLERK_SYNC_HOST=http://loacalhost or https://app.zorbit.com
CRX_PUBLIC_KEY= a generated unique ID for public key